.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 824px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  color: #7F8285;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.header a {
  color: #7F8285;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}