.modal {
  width: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 6px 16px rgba(67, 68, 69, 0.3);
  border-radius: 4px;
  padding: 20px 17px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
}

.close {
  display: flex;
  cursor: pointer;
}

.title {
  display: flex;
  flex-grow: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}